.titleBadge {
    border-radius: 25px;
    color: white;
    margin-bottom: 3%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-align: center;
}