
@font-face {
    font-family: "Inter";
    src: url('https://fonts.googleapis.com/css?family=Inter');
}

.itemCard {
    border-radius: 25px;
    font-family: "Inter";
    /* border: solid 2px black; */
    font-size: 24px;
    margin-bottom: 5%;
    background-color: azure;
    filter: drop-shadow(0 0 0.40rem black);
    /* margin-right: auto; */
    /* margin-left: auto; */
}