.addFormStyle {
    border-radius: 25px;
    border: 2px solid black;
    width: 30%;
    background-color: whitesmoke;
    margin-bottom: 3%;
}

form div {
    margin-bottom: 2%;
}

.toggleButton {
    display: flex;
    justify-content: center;
}

.formLayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}