.itemLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2%;
}

.itemLayout>*{
    flex: 0 0 25%;
    margin-right: 2%;
}

.queryText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    margin-bottom: 2%;
}

.searchBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.searchCard {
    border-radius: 25px;
    border: 2px solid black;
    background-color: whitesmoke;
}