@font-face {
    font-family: "Inter";
    src: url('https://fonts.googleapis.com/css?family=Inter');
}

.itemLayout {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter";
    justify-content: center;
    align-items: flex-start;
}

.itemLayout>*{
    flex: 0 0 25%;
    margin-right: 2%;
}

.searchBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}

.searchCard {
    border-radius: 25px;
    border: 1px solid black;
    background-color: whitesmoke;
}