.profileInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    margin-left: 4%;
    margin-top: 5%;
}

.profileInfo>*{
    width: 20%;
    justify-content: center;
    /* flex-grow: 0.4; */
    flex: 0 0 25%;
    margin-right: 10%;
    /* margin-right: 20%; */
    border-radius: 25px;
    background-color: #f5f5f5;
    border: 1px solid black;
}

.infoCard{
    border: 1px solid black;
    border-radius: 25px;
    font-size: 18px;
}

.recommendedInfo {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.recommendedCard {
    width: 20%;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 18px;
}