.profileInfo {
    align-items: flex-start;
    display: flex;
    margin-left: 4%;
    margin-top: 3%;
}

.profileInfo>*{
    width: 20%;
    flex-direction: row;
    /* flex-grow: 0.4; */
    border-radius: 25px;
    background-color: aliceblue;
    border: 1px solid black;
}

.profileInfo:first-child {
    /* margin-left: 4%; */
}

.profileCard {
    /* width: 20%; */
}